@charset "utf-8";
/* CSS Document */

body {
	background-color:#FFE;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:medium;
	color:#333;
}

.titulo {
	font-size:large;
	font-weight:bold;
	color:#006;
}

#reloj {
	position:fixed;
	left: 400px;
	top: 20px;
	width: 80px;
	background-color:#FFF;
	border:#000 1px solid;
}
